body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #0b222b;
  background-image: url("../images/dark-wood.png");
  color: #FFFFFF;
  text-shadow:5px 5px 10px #7E7E7E;
}
.countdownContainer{
  margin-top: 10rem;
}
.emotes img
{
  margin: 0 auto;
  width: 200px;
}
.mainImg{
  width: 600px;
  margin: 5rem auto;
}
/****************** VIEWPORTS ******************/
@media screen and (max-width: 695px){
.mainImg
{
    width: 400px;
    margin: 5rem auto;
}
.emotes img
{
    margin: 0 auto;
    width: 150px;
}
}
@media screen and (max-width: 540px){
.mainImg
{
    width: 350px;
    margin: 5rem auto;
}
.emotes img
{
    margin: 0 auto;
    width: 100px;
}
}
.container {

  text-align: center;
}

h1 {
  font-weight: normal;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

/* li span {
  display: block;
  font-size: 10rem;
} */
