body
{
	font-size: 100%;
	background-image: url('../images/dark-wood.png');
	background-color: #0b222b;
  margin: 0;
}
h2, p{

  margin: 2rem 1rem;

}
h2{
  font-family: Montserrat, san-sans-serif;
    Font-size: 1.75em; /* 28/16 */
      font-weight: bold;
}
p{
  font-family: Arial, sans-serif;
    Font-size: 1.4375em; /* 23/16 */
}
/***************************************************GRID SYSTEM
*/
.grid
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0.625rem;
}
[class*="col-"]
{
    float: left;
    margin-right: 1.78%
}
.col-1 {width: 6.70%}
.col-2 {width: 15.18%}
.col-3 {width: 23.66%}
.col-4 {width: 32.14%}
.col-5 {width: 40.63%}
.col-6 {width: 49.11%}
.col-7 {width: 57.59%}
.col-8 {width: 66.07%}
.col-9 {width: 74.55%}
.col-10{width: 83.04%}
.col-11{width: 91.52%}
.col-12{width: 100%}
/***************************************************HEADER
*/
header
{
	background-image: url("../images/newBanner.jpg");
	min-height: 300px;
	background-size: contain;
	background-position: center center;
  max-width: 1200px;
  margin: 0 auto;
  background-repeat: no-repeat;

}
/***************************************************NAV BAR
*/
nav
{
	width: 100%;
	height: 6rem;
	background-color: #0B222B;
    background-image: url("https://www.transparenttextures.com/patterns/gravel.png");
}
ul.topNav
{

  text-decoration: none;
  margin-left: auto;
}
ul.topNav li
{
	float: left;
	padding-left: 5rem;
}
ul.topNav li:first-of-type{
  padding-left: 14rem;
}
ul.topNav li a, .dropbtn
{
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.3125rem;
	line-height: 6rem;
	text-decoration: none;
	/* text-transform: uppercase; */

}
ul.topNav li a:hover
{
	text-shadow: 0 0.2em 1em #3EAAE0, 0 0.2em 1em #3EAAE0, 0 0.2em 1em #3EAAE0;
}
ul.topNav li.icon
{
	display: none;
}
nav img{
  height: 5rem;
}
.logo{
  margin: 0.3em;
}
p.navbarHeading{
  font-weight: bold;
  background-color: #0B222B;
  color: #FFFFFF;

  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  padding: 0.4em 0.2em;
  text-transform: uppercase;
}
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  line-height: 4.6rem;
}
.dropbtn:hover{
  text-shadow: 0 0.2em 1em #3EAAE0, 0 0.2em 1em #3EAAE0, 0 0.2em 1em #3EAAE0;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3EAAE0;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a.dropdown-item {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  line-height: 1;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.show  {
  display: block;
}
/***************************************************SIDE NAV
*/
.sideNav
{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #0b222b;
  background-image: url("https://www.transparenttextures.com/patterns/gravel.png");

	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 3.75rem;
}
.sideNav a
{
	padding: 0.5rem 0.5rem 0.5rem 2rem;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25rem;
	color: #FFFFFF;
	display: block;
	transition: 0.3s;
}
.sideNav .dropdown button.dropbtn{
    display: block;
    padding-left: 2rem;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    color: #FFFFFF;
    line-height: 2.5rem;
}
.sideNav a:hover
{
	color: #000000;
	text-shadow: 0 0.2em 1em #3EAAE0, 0 0.2em 1em #3EAAE0, 0 0.2em 1em #3EAAE0;
}
.sideNav .closeButton
{
	position: absolute;
	top: 0;
	right: 1.5625rem;
	font-size: 2.25rem;
	margin-left: 3.125rem;
}
#main
{
	transition: margin-left 0.5s;
	padding: 1rem;
}
/***************************************************MAIN CONTENT
*/
.mainContent{
  background-color: #c8ad93;
  border-radius: 3px;
}

/***************************************************MEDIA QUERIES
*/
@media screen and (max-width: 1154px)
{
  ul.topNav li:first-of-type {
      padding-left: 6rem;
  }
  header
  {
  	min-height: 250px;
  	background-size: cover;
  	background-position: center center;
    margin: 0 auto;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 980px)
{
  ul.topNav li:first-of-type {
      padding-left: 2rem;
  }
}
@media screen and (max-width: 850px)
{
  header
  {
  	min-height: 200px;
  	background-size: cover;
  	background-position: center center;
    margin: 0 auto;
    background-repeat: no-repeat;
  }
	ul.topNav li a, .dropbtn
	{
		font-size: 1.125rem;
	}
  ul.topNav li{
    padding-left: 5rem;
  }

}
@media screen and (max-width: 800px)
{
  ul.topNav li:first-of-type {
      padding-left: 5rem;
  }
  ul.topNav li{
    padding-left: 3rem;
  }
}
@media screen and (max-width: 715px)
{
  ul.topNav li:first-of-type {
      padding-left: 5rem;
  }
  ul.topNav li{
    padding-left: 2rem;
  }
}
@media screen and (max-width: 650px)
{
	ul.topNav li:not(:last-of-type)
	{
		display: none;
	}
	ul.topNav li.icon
	{
		display: inline-block;
		position: absolute;
		top: 0;
		right: 0;
		font-size: 1.375rem;
		padding-right: 0.625rem;
	}
	header
	{
		min-height: 12.5rem;
	}

}
@media screen and (max-width: 550px)
{
	.mainSection
	{
		float: none;
		width: 100%;
	}

}
@media screen and (max-width: 480px)
{

}
@media screen and (max-width: 390px)
{
	header
	{
		min-height: 9.375;
	}

}
/***************************************************UTILITIES
*/
.visuallyHidden
{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
.removeRightMargin
{
	margin-right: 0;
}
span
{
	font-style: italic;
}
/***************************************************STREAMER STATUS BOX
*/
#online-title {
    width: 100%;
    background-color: #6c72fa;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    margin-top: -0px;
    font-size: 18px;
    font-weight: bold;
    font-family: inherit;
}
#online-title {
    background-color: #00a650 !important;
}

#offline-title {
    width: 100%;
    background-color: #c0c0c0;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: inherit;
}
#offline-title {
    color: #00a650 !important;
    background-color: #000000 !important;
}

#twitch-widget {
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #262626;
    display: block;
    font-size: .9em;
    margin: 5px 0 0 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    width: 100%;
    background-color: transparent;
}

p {
	color: white;
}

.streamerBox
 {
	 margin: auto;
	 margin-top: 10px;
	 margin-bottom: 10px;
	 width: 300px;
	 outline: 5px ridge grey;
 }

 .liveStreamers {
	 margin: auto;
	 margin-top: 10px;
	 margin-bottom: 10px;
	 max-width: 80%;
	 min-width: 50%;
	 width: fit-content;
	 outline: 5px solid green;
 }

/* body {
  margin: 0;
  font-size: 28px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-color: #0B2220;
  background-image: url("../images/dark-wood.png");
}

p.navbarHeading
{
  font-weight: bold;
  color: #34a1cc;
  font-size: 20px;
}
.navbar img{
  width: 5em;
}
.dropdown-item{
  list-style-type: none;
  color: #FFFFFF;

}
a.nav-link{
  color: #34A1CC !important;
  padding: 0 10px !important;
}
a.nav-link:hover{

  color: #0B222B !important;
  background-color: #8edfff;
  border-radius: 5px;

}
a.active{
  background-color: #47707F;
  color: #0B222B !important;
  border-radius: 5px;

}
.dropdown-menu {
  background-color: #0B222B;
}
#navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 7;
  background: rgb(11,34,43);
  background: linear-gradient(36deg, rgba(11,34,43,1) 0%, rgba(11,34,43,1) 35%, rgba(0,212,255,0) 100%);
}
.nav-item{
  width: 60%;
  margin: 0 10px;
}
.navbar{
  background-color: rgba(126, 126, 126, 0.3);
}
header{
  margin-top: 120px;

}
.content {
  padding: 16px;

}
section{
  background-color:


}
@media (min-width: 1200px){
.container {
    max-width: 1920px;
}
} */
