body {
  margin: 0;
  font-size: 28px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-color: #0B2220;
  background-image: url("../images/dark-wood.png");
}

p.navbarHeading
{
  font-weight: bold;
  color: #34a1cc;
  font-size: 20px;
}
.navbar img{
  width: 5em;
}
.dropdown-item{
  list-style-type: none;
  color: #FFFFFF;

}
a.nav-link{
  color: #34A1CC !important;
  padding: 10px 10px !important;
}
a.nav-link:hover{

  color: #0B222B !important;
  background-color: #8edfff;
  border-radius: 5px;

}
a.active{
  background-color: #47707F;
  color: #0B222B !important;
  border-radius: 5px;

}
.dropdown-menu {
  background-color: #0B222B;
}
#navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 7;
  background: rgb(11,34,43);
  background: linear-gradient(36deg, rgba(11,34,43,1) 0%, rgba(11,34,43,1) 35%, rgba(0,212,255,0) 100%);
}
.nav-item{
  width: 60%;
  margin: 0 10px;
}
.navbar{
  background-color: rgba(126, 126, 126, 0.3);
}
header{
  margin-top: 120px;

}
.content {
  padding: 16px;

}
section{
  background-color:


}
@media (min-width: 1200px){
.container {
    max-width: 1920px;
}
}
