body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #0b222b;
  background-image: url("../images/dark-wood.png");
  color: #FFFFFF;
  text-shadow:5px 5px 10px #7E7E7E;
  font-family: 'Montserrat', sans-serif;
}
.countdownContainer{
  margin-top: 2rem;
}
.logo img
{
  margin: 10rem auto;
  width: 300px;
}
ul{
  margin: 0;
}
.footer a{
  color: #3EAAE0;
}
.footer a:hover{
  color: #75bbde;
}
.emote{
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-evenly;
}
.emote li{
  width: 128px;
  padding: 1rem;
}
.emote img {
  border: 0 none;
  display: inline-block;
  height: auto;
  vertical-align: middle;
}
footer{
  margin-top: 5rem;
  color: #3EAAE0;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.2);
}
.footer{
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
/* ul.footer{
  line-height: l;
} */
li.text{
  font-size: 2.3em;
  padding: 0.2em;
  font-weight: 300;
  line-height: inherit;
  color: #c1c1c1;

}
li.icon{
  margin-top: 0.2em;
  font-size: 2.8em;
  line-height: inherit;
  padding: 0.2em;
}
/****************** VIEWPORTS ******************/
@media screen and (min-width: 1200px){
.countdownContainer li span {
  display: block;
  font-size: 15rem;
  padding: 0 3rem;
}
ul {
  display: inline;
  padding-left: 0;
}
}
@media screen and (max-width: 1200px){
.countdownContainer li span {
  display: block;
  font-size: 13rem;
  padding: 0 2rem;
}
ul {
  display: inline;
  padding-left: 0;
}
.logo img
{
  margin: 8rem auto 2rem auto;
  width: 280px;
}
}
@media screen and (max-width: 1000px){
.countdownContainer li span {
  display: block;
  font-size: 10rem;
  padding: 0 1rem;
}
ul {
  display: inline;
  padding-left: 0;
}
.logo img
{
  margin: 6rem auto 5rem auto;
  width: 250px;
}
}
@media screen and (max-width: 960px){
  .emote li{
    width: 100px;
    padding: 0.7rem;
  }
}
@media screen and (max-width: 768px){
.countdownContainer li span {
  display: block;
  font-size: 8rem;
  padding: 0 0.5rem;
}
ul {
  display: inline;
  padding-left: 0;
}
.logo img
{
  margin: 5rem auto 5rem auto;
  width: 200px;
}
}
@media screen and (max-width: 600px){
  li.text{
    font-size: 2em;
    padding: 0.2em;
    font-weight: 300;
    line-height: inherit;
    color: #c1c1c1;

  }
  li.icon{
    margin-top: 0.2em;
    font-size: 2.8em;
    line-height: inherit;
    padding: 0.2em;
  }

}
@media screen and (max-width: 650px){
.countdownContainer{
    margin-top: 6rem;
}
.countdownContainer li span {
  display: block;
  font-size: 5rem;
  padding: 0 0.2rem;
}
ul {
  display: block;
  padding-left: 0;
}
.emote li{
    width: 85px;
    padding: 1rem 0.5rem;
  }
}
@media screen and (max-width: 532px){
li.text{
  position:absolute;
left:0px;
top:-500px;
width:1px;
height:1px;
overflow:hidden;
}
}

.container {

  text-align: center;
}

h1 {
  font-weight: normal;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

/* li span {
  display: block;
  font-size: 10rem;
} */
